[Unit]
Description=gunicorn3 server instance configured to serve titanembeds
After=syslog.target

[Service]
User=titan
Type=notify
WorkingDirectory=/home/titan/Titan/webapp
ExecStart=/usr/bin/gunicorn3 --worker-class eventlet -w 1 -b unix:/var/www/titanembeds.sock titanembeds.app:app
TimeoutSec=infinity
Restart=on-failure
KillSignal=SIGTERM
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
