[Unit]
Description=uWSGI server instance configured to serve titanembeds
After=syslog.target

[Service]
User=titan
Type=notify
WorkingDirectory=/var/www
ExecStart=/usr/local/bin/uwsgi --die-on-term --gevent 1000 --http-websockets --master --ini /var/www/titanembeds_wsgi.ini --logto2 /var/log/uwsgi/uwsgi.log
TimeoutSec=infinity
Restart=on-failure
KillSignal=SIGTERM
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
