Description=Titan Discord Bot
After=network.target

[Service]
User=titan
WorkingDirectory=/home/titan/Titan/discordbot/
ExecStart=/usr/bin/python3 /home/titan/Titan/discordbot/run.py
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target